In [2]:
import pandas as pd

In [3]:
print(pd.__version__);

2.0.3

In [4]:
a=[1,2,3,4,5]
s1=pd.Series(a,index=["11","12","13","14","15"]) #to change index
print(a)
print(a[3])
print(s1)

[1, 2, 3, 4, 5]
4
11    1
12    2
13    3
14    4
15    5
dtype: int64

In [5]:
print(s1["13"]) #to find specific index

3

In [6]:
keyval={"AIML":4,"CCN":4,"WS":3,"CS":4}
print(keyval)
key=pd.Series(keyval)
print(key)
print(key["CCN"])

{'AIML': 4, 'CCN': 4, 'WS': 3, 'CS': 4}
AIML    4
CCN     4
WS      3
CS      4
dtype: int64
4

In [7]:
std={"student":["aiml","ccn","ws","cs"],
    "marks":[90,89,99,98]}
print(std)
dfstd=pd.DataFrame(std)#to create data frame which store data in tabular formate
print(dfstd)
print(dfstd.loc[3])

{'student': ['aiml', 'ccn', 'ws', 'cs'], 'marks': [90, 89, 99, 98]}
  student  marks
0    aiml     90
1     ccn     89
2      ws     99
3      cs     98
student    cs
marks      98
Name: 3, dtype: object

In [11]:
std_data=pd.read_csv("data.csv")#to read csv file
print(std_data)

   roll      name  percantage         DOB
0     1    Aayush        87.0  12-11-2003
1     2   Madhavi        89.0   13-2-2002
2     3   Remansi        54.0   4-12-2004
3     4  Devanshi        67.0    5-9-2004
4     5     Nixan         NaN    6-5-2000
5     6     Dhyey        89.0   28-1-2004
6     7    Dhruva        99.0    8-1-2003
7     8   Aaditya        97.0    4-5-2003

In [12]:
print(std_data.head())#to fatch first 5 records

   roll      name  percantage         DOB
0     1    Aayush        87.0  12-11-2003
1     2   Madhavi        89.0   13-2-2002
2     3   Remansi        54.0   4-12-2004
3     4  Devanshi        67.0    5-9-2004
4     5     Nixan         NaN    6-5-2000

In [13]:
print(std_data.tail())#to fatch last 5 records

   roll      name  percantage        DOB
3     4  Devanshi        67.0   5-9-2004
4     5     Nixan         NaN   6-5-2000
5     6     Dhyey        89.0  28-1-2004
6     7    Dhruva        99.0   8-1-2003
7     8   Aaditya        97.0   4-5-2003

In [15]:
print(std_data.loc[1])#to fatch single row

roll                  2
name            Madhavi
percantage         89.0
DOB           13-2-2002
Name: 1, dtype: object

In [16]:
print(std_data.info)

<bound method DataFrame.info of    roll      name  percantage         DOB
0     1    Aayush        87.0  12-11-2003
1     2   Madhavi        89.0   13-2-2002
2     3   Remansi        54.0   4-12-2004
3     4  Devanshi        67.0    5-9-2004
4     5     Nixan         NaN    6-5-2000
5     6     Dhyey        89.0   28-1-2004
6     7    Dhruva        99.0    8-1-2003
7     8   Aaditya        97.0    4-5-2003>

In [17]:
d=std_data.iloc[0:2]#fatch specific rows

In [18]:
print(d)

   roll     name  percantage         DOB
0     1   Aayush        87.0  12-11-2003
1     2  Madhavi        89.0   13-2-2002

In [19]:
newstd_data=std_data.dropna()#to remove null value
print(newstd_data)

   roll      name  percantage         DOB
0     1    Aayush        87.0  12-11-2003
1     2   Madhavi        89.0   13-2-2002
2     3   Remansi        54.0   4-12-2004
3     4  Devanshi        67.0    5-9-2004
5     6     Dhyey        89.0   28-1-2004
6     7    Dhruva        99.0    8-1-2003
7     8   Aaditya        97.0    4-5-2003

In [20]:
newstd_data=std_data.fillna(10,inplace=True)#fill null value with 10
print(newstd_data)

None

In [21]:
new=std_data["percantage"].fillna("90.33%")#to change specific colum with null value
print(new)

0    87.0
1    89.0
2    54.0
3    67.0
4    10.0
5    89.0
6    99.0
7    97.0
Name: percantage, dtype: float64

In [22]:
new=std_data["percantage"].fillna("90.33%",inplace=True)#modify data in same object(modify object) (update data in std_data variable) 
print(new)

None

In [23]:
m=std_data["percantage"].mean()
print(m)

74.0

In [24]:
m=std_data["percantage"].median()
print(m)

88.0

In [25]:
m=std_data["percantage"].mode()
print(m)

0    89.0
Name: percantage, dtype: float64

In [28]:
std=pd.read_csv("student.csv")
print(std)

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [30]:
m=std["mark"].mean()
print(m)
m=std["mark"].median()
print(m)
m=std["mark"].mode()
print(m)

74.65714285714286
79.0
0    88
Name: mark, dtype: int64

In [31]:
pk=pd.read_csv("pokemon.csv")
print(pk)

     Unnamed: 0    #                   Name   Type 1  Type 2  Total  HP  \
0             0    1              Bulbasaur    Grass  Poison    318  45
1             1    2                Ivysaur    Grass  Poison    405  60
2             2    3               Venusaur    Grass  Poison    525  80
3             3    3  VenusaurMega Venusaur    Grass  Poison    625  80
4             4    4             Charmander     Fire     NaN    309  39
..          ...  ...                    ...      ...     ...    ...  ..
795         795  719                Diancie     Rock   Fairy    600  50
796         796  719    DiancieMega Diancie     Rock   Fairy    700  50
797         797  720    HoopaHoopa Confined  Psychic   Ghost    600  80
798         798  720     HoopaHoopa Unbound  Psychic    Dark    680  80
799         799  721              Volcanion     Fire   Water    600  80

     Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary    avg
0        49       49       65       65     45           1      False   71.5
1        62       63       80       80     60           1      False   92.5
2        82       83      100      100     80           1      False  122.5
3       100      123      122      120     80           1      False  151.5
4        52       43       60       50     65           1      False   67.0
..      ...      ...      ...      ...    ...         ...        ...    ...
795     100      150      100      150     50           6       True  150.0
796     160      110      160      110    110           6       True  160.0
797     110       60      150      130     70           6       True  125.0
798     160       60      170      130     80           6       True  150.0
799     110      120      130       90     70           6       True  155.0

[800 rows x 15 columns]

In [32]:
pk['avg']=(pk['HP']+pk['Attack']+pk['Defense'])/2 #create new colum named avg with average value of this field
pk.head(5)

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,avg
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,71.5
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,92.5
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,122.5
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,151.5
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,67.0

In [33]:
pk.to_csv('pokemon.csv')#toupdate original file

In [34]:
pk.sort_values(['Total'],ascending=1)# to sort data in asending order 1-for ascending and 0-for desending

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,avg
206,206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False,45.0
322,322,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,55.0
446,446,401,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False,51.5
288,288,265,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False,62.5
16,16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,52.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,220.0
422,422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,170.0
164,164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,163.0
426,426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,192.5
163,163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,198.0